#root {
  max-width: 1080px;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.a-second{
  all: unset;
  font-size: large;
}

.a-second:hover{
  padding-bottom: 6px;
  border-bottom: 2px solid grey;
  color: grey;
  cursor: pointer;
}

ul li {
  display:inline-block;
  list-style-type:none;
  margin-right:-4px;
  padding:10px 18px;
}


